<!--
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://github.com/pechemann/angular-toolbox/blob/main/LICENSE
-->
 
<main>
    <atx-page-title label="Get started with the HTTP Mocking Framework">
        <p primary class="fs-5">
            An easy-to-use framwork that provides Mocking strategies for developing HTTP-based components in your Angular projects.
        </p>
    </atx-page-title>
    <div class="container mb-5">
        <div class="row align-items-md-stretch">
            <div class="col-md-6 mb-4">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3 shadow">
                    <h2 class="mb-4 border-bottom pb-2 d-flex gap-2 align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
                        </svg>
                        TODO Sample Application
                    </h2>
                    <p>
                        The <em>TODO Sample Application</em> demonstrates how to create a TODO list app using a business layer based on DAOs.
                    </p>
                    <p>
                        It shows how to use the HTTP Mocking Framework to facilitate the development of REST-based apps, built on top of an abstraction layer.
                    </p>
                    <p>
                        If you are not familiar with <em>Data Access Object</em> architecture, please refer to the basic
                        <a navigateToUrl href="https://pascalechemann.com/angular-toolbox/demo/http-mock-service"
                           title="HTTP Mock Service Demo">HTTP Mock Service Demo</a>
                        instead.
                    </p>
                    <button class="btn btn-outline-secondary mt-4" type="button" [routerLink]="['../todo']">Get started</button>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <img class="img-fluid" src="./assets/home-img.webp">
            </div>
        </div>
    </div>
    <atx-hr/>
    <div class="mb-5">
        <h2>Resources</h2>
        <p>
            
        </p>
        <atx-icon-list [itemList]="homelinks"/>
    </div>
    <atx-git-section/>
</main>