<!--
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://pascalechemann.com/angular-toolbox/resources/license
-->
 
<div class="input-group mb-1">
    <div class="input-group-text">
      <input class="form-check-input mt-0" type="checkbox"
             [value]="todo.completed" [checked]="todo.completed"
             (change)="completedChange($event)">
    </div>
    <input type="text" class="form-control" [value]="todo.title"
           (change)="titleChange($event)">
    <button class="btn btn-outline-secondary" (click)="deleteTodo()" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
    </button>
</div>
