<demo [title]="title" [presentation]="presentation" [srcCode]="srcCode">
    <div class="mb-4">Use tab key ans press enter to select User:</div>
    <table class="table mb-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @for (item of data; track item) {
                <tr buttonRole delegateClick (enter)="showModal(item)">
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>{{ item.email }}</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="alert alert-info d-flex align-items-start gap-2" role="alert">
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                <use xlink:href="#infoIcon"/>
            </svg>
        </p>
        <p>
            The <code>delegateClick</code> attribute allows to invoke the <code>showModal(item)</code> callback when User clicks on the decorated HTML element.
        </p>
    </div>
</demo>

<dialog #msgDialog class="border rounded shadow">
    <h5>Selected User</h5>
    <hr>
    <div class="modal-content">
        <div class="modal-body">
            @if (selectedUser) {
                <dl>
                    <dt>Full Name</dt>
                    <dd>{{ selectedUser.firstName }} {{ selectedUser.lastName }}</dd>
                    <dt>Email</dt>
                    <dd>{{ selectedUser.email }}</dd>
                </dl>
            }
        </div>
        <hr>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-primary w-50" (click)="closeModal()">OK</button>
        </div>
    </div>
</dialog>