<demo [title]="title" [presentation]="presentation" [srcCode]="srcCode">
    <p>
        Open the <em>Network Activity Console</em> of you browser to verify that mock data are not coming from a remote server:
    </p>
    <hr>
    <div class="mb-3">
        <button class="btn btn-primary" role="button" (click)="loadData()">
            Load Data
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <h6  class="card-title">Loaded Data</h6>
            <hr>
            @if (data) {
                <code>{{ data }}</code>
            } @else {
                No data loaded...
            }
        </div>
    </div>
</demo>