<!--
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://github.com/pechemann/angular-toolbox/blob/main/LICENSE
-->
 
<demo [title]="title" [presentation]="presentation" [srcCode]="srcCode">
    <p>
        Current Angular Toolbox Version:
        <span class="badge text-bg-primary p-2">{{ versionService.getVersion().toString() }}</span>
    </p>
    <p>
        Build Release Date:
        <span class="badge text-bg-primary p-2">{{ versionService.getBuildTimestamp() | date }}</span>
    </p>
</demo>
