/**
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://pascalechemann.com/angular-toolbox/resources/license
 */
 
 ::ng-deep {
    object {
        display: none;
    }
    .documentation {
        h3:not(:first-child) {
            margin-top: 3.5rem;
        }
        h3 {
            margin-bottom: 1.5rem;
        }
        h4 {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
        pre {
            margin-top: 1.5rem;
        }
        .page-menu {
            position: sticky;
            top: 20px;
            float: right;
        }
        @media (max-width: 1199.98px) { 
            .page-menu {
                display: none;
            }
        }
        pre {
            margin-top: 10px !important;
        }
        figcaption {
            font-style: italic;
        }
    }
}
