<!--
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://github.com/pechemann/angular-toolbox/blob/main/LICENSE
-->
 
<article>
    <h2 class="mb-4">{{ title }}</h2>
    <p [innerHTML]="presentation"></p>
    <h4 class="mb-4">Example</h4>
    <section class="mb-4">
        <div class="container border rounded p-5">
            <ng-content></ng-content>
            <ng-container *ngTemplateOutlet="contentTemplateRef"></ng-container>
        </div>
    </section>
    @if (documentation) {
        <section class="mb-4">
            <h4 class="mb-4">Documentation</h4>
            <p>
                For more information about this feature, please read the documentation at:
                <br>
                <a class="icon-item mt-2" [routerLink]="documentation.commands" [title]="documentation.label">{{documentation.label}}</a>
            </p>
        </section>
    }
    <section>
        <h4 class="mb-4">Code</h4>
        <src-viewport class="mb-4" [srcCode]="srcCode"></src-viewport>
    </section>
</article>
