<!--
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://pascalechemann.com/angular-toolbox/resources/license
-->
 
<demo [title]="title" [presentation]="presentation" [srcCode]="srcCode" [documentation]="documentation">
    <p class="fs-5 mb-4">
        The following sample app shows how to implement the ATX dropdown component with Bootstrap:
    </p>
    <div class="row">
        <nav class="d-flex col-md-4 mb-5">
            <atx-dropdown #dropdown buttonClass="btn btn-primary" [vPos]="vPos" [hPos]="hPos" [popoverState]="popoverState" [disabled]="disabled">
                <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                Select item
                <ul class="list-group shadow" content>
                    <li class="list-group-item list-group-item-action" role="button" (click)="itemClicked(1)">A first item</li>
                    <li class="list-group-item list-group-item-action" role="button" (click)="itemClicked(2)">A second item</li>
                    <li class="list-group-item list-group-item-action disabled" role="button" aria-disabled="true" (click)="itemClicked(3)">A disabled item</li>
                </ul>
            </atx-dropdown>
        </nav>
        <form class="col-md-4 mb-5">
            <h6>Vertical position:</h6>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vPos" id="vStartBtn" [(ngModel)]="vPos" value="start">
                <label class="form-check-label" for="vStartBtn">start</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vPos" id="topBtn" [(ngModel)]="vPos" value="top">
                <label class="form-check-label" for="topBtn">top</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vPos" id="middleBtn" [(ngModel)]="vPos" value="middle">
                <label class="form-check-label" for="middleBtn">middle</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vPos" id="bottomBtn" [(ngModel)]="vPos" value="bottom">
                <label class="form-check-label" for="bottomBtn">bottom</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vPos" id="vEndBtn" [(ngModel)]="vPos" value="end">
                <label class="form-check-label" for="vEndBtn">end</label>
            </div>
            <h6 class="mt-2">Horizontal position:</h6>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hPos" id="startBtn" [(ngModel)]="hPos" value="start">
                <label class="form-check-label" for="startBtn">start</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hPos" id="leftBtn" [(ngModel)]="hPos" value="left">
                <label class="form-check-label" for="leftBtn">left</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hPos" id="centerBtn" [(ngModel)]="hPos" value="center">
                <label class="form-check-label" for="centerBtn">center</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hPos" id="rightBtn" [(ngModel)]="hPos" value="right">
                <label class="form-check-label" for="rightBtn">right</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hPos" id="endBtn" [(ngModel)]="hPos" value="end">
                <label class="form-check-label" for="endBtn">end</label>
            </div>
        </form>
        <div class="col-md-4">
            <h6>Enabling / Disabling:</h6>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="disabled" id="disabledBtn" [(ngModel)]="disabled">
                <label class="form-check-label" for="disabledBtn">disabled</label>
            </div>
            <h6 class="mt-2">API:</h6>
            <div class="btn-group-vertical mb-3" role="group">
                <button class="btn btn-outline-secondary" (click)="dropdown.showContent()">
                    <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg>
                    Show content
                </button>
                <button class="btn btn-outline-secondary" (click)="dropdown.hideContent()">
                    <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                    </svg>
                    Hide content
                </button>
            </div>
            <h6>Display state:</h6>
            <div class="mb-3">
                {{ dropdown.isOpen() ? 'open' : "closed" }}
            </div>
            <h6>Selected item:</h6>
            <div class="mb-3">
                Index: {{ selectedItem }}
            </div>
            <form >
                <h6>Popover state:</h6>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="popoverState" id="auto" [(ngModel)]="popoverState" value="auto">
                    <label class="form-check-label" for="auto">auto</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="popoverState" id="manual" [(ngModel)]="popoverState" value="manual">
                    <label class="form-check-label" for="manual">manual</label>
                </div>
            </form>
        </div>
    </div>
</demo>
