<!--
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://pascalechemann.com/angular-toolbox/resources/license
-->
 
<demo [title]="title" [presentation]="presentation" [srcCode]="srcCode" [documentation]="documentation">
    <p class="fs-5 mb-4">
        The following sample app shows how to implement the ATX dropdown component with Bootstrap:
    </p>
    <div class="row">
        <nav class="d-flex col-md-4 mb-5">
            <atx-dropdown #dropdown buttonClass="btn btn-primary" [vPos]="vPos" [hPos]="hPos">
                <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                Select item
                <ul class="list-group shadow" content>
                    <li class="list-group-item list-group-item-action" role="button">A first item</li>
                    <li class="list-group-item list-group-item-action" role="button">A second item</li>
                    <li class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled item</li>
                </ul>
            </atx-dropdown>
        </nav>
        <form class="col-md-4 mb-5">
            <h6>Vertical position:</h6>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vPos" id="vStartBtn" [(ngModel)]="vPos" value="start">
                <label class="form-check-label" for="vStartBtn">start</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vPos" id="topBtn" [(ngModel)]="vPos" value="top">
                <label class="form-check-label" for="topBtn">top</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vPos" id="middleBtn" [(ngModel)]="vPos" value="middle">
                <label class="form-check-label" for="middleBtn">middle</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vPos" id="bottomBtn" [(ngModel)]="vPos" value="bottom">
                <label class="form-check-label" for="bottomBtn">bottom</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vPos" id="vEndBtn" [(ngModel)]="vPos" value="end">
                <label class="form-check-label" for="vEndBtn">end</label>
            </div>
            <h6 class="mt-2">Horizontal position:</h6>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hPos" id="startBtn" [(ngModel)]="hPos" value="start">
                <label class="form-check-label" for="startBtn">start</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hPos" id="leftBtn" [(ngModel)]="hPos" value="left">
                <label class="form-check-label" for="leftBtn">left</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hPos" id="centerBtn" [(ngModel)]="hPos" value="center">
                <label class="form-check-label" for="centerBtn">center</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hPos" id="rightBtn" [(ngModel)]="hPos" value="right">
                <label class="form-check-label" for="rightBtn">right</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="hPos" id="endBtn" [(ngModel)]="hPos" value="end">
                <label class="form-check-label" for="endBtn">end</label>
            </div>
        </form>
        <div class="col-md-4">
            <h6>API:</h6>
            <div class="btn-group-vertical mb-3" role="group">
                <button class="btn btn-outline-secondary" (click)="dropdown.showContent()">Show content</button>
                <button class="btn btn-outline-secondary" (click)="dropdown.hideContent()">Hide content</button>
            </div>
            <h6>State:</h6>
            <div>
                {{ dropdown.isOpened() ? 'open' : "closed" }}
            </div>
        </div>
    </div>
</demo>
