<main>
    <h1>Angular Toolbox Resource Center</h1>
    <p class="fs-5 col-md-8  mb-5">
        Welcome to the Angular Toolbox Documentation! These resources will guide you through the core concepts of the
        framework, and get you started building performant, scalable apps.
    </p>
    <hr class="mb-5">

    <div class="container mb-5">
        <div class="row align-items-md-stretch">
            <div class="col-md-6 mb-4">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2 class="mb-4 border-bottom pb-2 d-flex gap-2 align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                        </svg>
                        Quick Start Guide
                    </h2>
                    <p >
                        <em class="lib-name">Angular Toolbox</em> is a library of lightweight utilities gathered  to solve recurring issues encountered by Angular apps developers.
                        The library focuses on ease-of-use and robust test processes, to maintain quality over time.
                    </p>
                    <p>
                        Use the Angular Toolbox Quickstart guided experience to get started with the library. Learn to set up, use and and innovate...
                    </p>
                    <button class="btn btn-outline-secondary mt-4" type="button" [routerLink]="['documentation', 'quick-start-guide']">Get started</button>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2 class="mb-4 border-bottom pb-2 d-flex gap-2 align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8M6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM8 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 8 8"/>
                        </svg>
                        HTTP Mocking Framework
                    </h2>
                    <p>
                        The HTTP Mocking Framework provides an easy-to-use and highly configurable
                        solution to mock HTTP responses to API calls sent from your Angular applications.
                    </p>
                    <p>
                        It is completely transparent, which means that Developer does not have to make any changes
                        to its code between development and production.
                    </p>
                    <button class="btn btn-outline-light mt-4" type="button" [routerLink]="['documentation', 'http-mocking-framework']">Get started</button>
                </div>
            </div>
        </div>
    </div>

    <section class="mb-5">
        <h3>Angular Toolbox Documentation</h3>
        <p>
            <em class="lib-name">Angular Toolbox</em> documentation has all the information you need to make your project a smashing success.
        </p>
        <p>
            Use the rich set of code samples, tutorials, developer guides, API documentation, and more to quickly develop your prototype and scale it up to a real world application:
        </p>
        <button class="btn btn-primary d-flex gap-2 align-items-center" [routerLink]="['documentation']">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
              </svg>
            Explore Documentation Center
        </button>
    </section>
    <hr class="mb-4">
    <git-section/>
</main>