<main>
    <h1>Angular Toolbox Resource Center</h1>
    <p class="fs-5 col-md-8  mb-5">
        Welcome to the Angular Toolbox Documentation! These resources will guide you through the core concepts of the
        framework, and get you started building performant, scalable apps.
    </p>
    <hr class="mb-5">
    <div class="container mb-5">
        <div class="row align-items-md-stretch">
            <div class="col-md-6 mb-4">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2 class="mb-4 border-bottom pb-2">Quick Start Guide</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                    <button class="btn btn-outline-secondary mt-4" type="button" [routerLink]="['documentation', 'quick-start-guide']">Get started</button>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2 class="mb-4 border-bottom pb-2">HTTP Mocking Framework</h2>
                    <p>
                        The <em>HTTP Mocking Framework</em> provides an easy-to-use and highly configurable
                        solution to mock HTTP responses to API calls sent from your Angular applications.
                    </p>
                    <p>
                        It is completely transparent, which means that Developer does not have to make any changes
                        to its code between development and production.
                    </p>
                    <button class="btn btn-outline-light mt-4" type="button" [routerLink]="['documentation', 'http-mocking-framework']">Get started</button>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <git-section/>
</main>