<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="infoIcon" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </symbol>
</svg>
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="angular-toolbox.png" alt="Angular Toolbox" width="40" height="40">
            <span class="fs-4">Angular Toolbox Demo</span>
        </a>
    </header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['home']" title="Home">Home</a></li>
          @for(item of breadcrumb.getItemList(); track item) {
            <li class="breadcrumb-item" [ngSwitch]="">
                @switch (item.path) {
                    @case (undefined) {
                        <span>{{ item.label }}</span>
                    }
                    @default {
                        <a [routerLink]="[item.path]" [title]="item.label">{{ item.label }}</a>
                    }
                }
            </li>
          }
        </ol>
      </nav>
    <router-outlet></router-outlet>
    <footer class="pt-5 my-5 text-muted border-top">
        Created with
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
            </svg>
        </span>
        by the Angular Toolbox Team &middot; &copy; 2024 <a href="https://pascalechemann.com/" title="Pascal ECHEMANN">Pascal ECHEMANN</a>
    </footer>
</div>