<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="./assets/layout/angular-toolbox.png" alt="Angular Toolbox" width="40" height="40">
            <span class="fs-4">Angular Toolbox Demo</span>
        </a>
    </header>
    <router-outlet></router-outlet>
    <footer class="pt-5 my-5 text-muted border-top">
        Created by the Angular Toolbox team &middot; &copy; 2023
    </footer>
</div>