.dark-mode {
    background: #333;
    color: #fff;
    .text-dark {
        color: #fff !important;
    }
    .text-muted {
        color: #999 !important;
    }
}

pre {
    margin-top: 10px;
    padding: 0;
    border-radius: 6px;
}