<!--
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://pascalechemann.com/angular-toolbox/resources/license
-->

<atx-navbar #navbar>
    <div brand id="brand">Brand</div>
    <i icon id="icon"></i>
    <li> <a href="#" class="active">Home</a> </li>
    <li> <a href="#">News</a> </li>
    <li> <a href="#">About</a> </li>
    <li> <a href="#">Contact</a> </li>
</atx-navbar>