<!--
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://github.com/pechemann/angular-toolbox/blob/main/LICENSE
-->
 
<section>
  <div class="container border rounded mb-4">
    <ul class="nav mb-2">
      @if(hasSrcCode('html')) {
        <li class="nav-item">
          <button class="nav-link" [class.active]="currLang === 'html'" (click)="changeSrcDisplay('html')">HTML</button>
        </li>
      }
      @if (hasSrcCode('css')) {
        <li class="nav-item">
          <button class="nav-link" [class.active]="currLang === 'css'" (click)="changeSrcDisplay('css')">CSS</button>
        </li>
      }
      @if (hasSrcCode('typescript')) {
        <li class="nav-item">
          <button class="nav-link" [class.active]="currLang === 'typescript'" (click)="changeSrcDisplay('typescript')">TypeScript</button>
        </li>
      }
    </ul>
    @if (hasSrcCode(currLang)) {
      <div class="border-top">
        @for(item of currentSrc; track item; let i = $index) {
          <at-code-viewport [lang]="currLang">{{item}}</at-code-viewport>
        }
      </div>
    }
  </div>
</section>