<!--
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://pascalechemann.com/angular-toolbox/resources/license
-->
 
<demo [title]="title" [presentation]="presentation" [srcCode]="srcCode" [documentation]="documentation">
    <p class="fs-5 mb-4">
        Click the following button to toggle between dark and light mode:
    </p>
    <div  class="mb-5">
        <button class="btn btn-primary" (click)="darkModeService.toggleDarkMode()">
            Toggle Dark Mode
        </button>
    </div>
    <div class="alert alert-warning" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
            <use xlink:href="#exclamationIcon"/>
        </svg>
        The application dark mode is temporarily disabled for the demo.
    </div>
</demo>
