<!--
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://github.com/pechemann/angular-toolbox/blob/main/LICENSE
-->
 
<main>
    <h1>Get started with Angular Toolbox</h1>
    <p class="fs-5 col-md-8">
        Quickly and easily get started with Angular Toolbox compiled, production-ready files with this
        barebones example featuring some basic Demo and helpful links. Install all our examples to get started.
    </p>
    <hr class="mb-5">
    <div class="mb-4 row g-5">
        <div class="col-md-6">
            <h2>Demo</h2>
            <p>
                Ready to beyond the starter template? Check out these open source projects that you can 
                quickly duplicate to a new Angular project.
            </p>
            <icon-list [itemList]="iconListService.getHomeDemoList()"/>
        </div>
        <div class="col-md-6">
            <h2>Guides</h2>
            <p>Read more detailed instructions and documentation on using Angular Toolbox.</p>
            <icon-list [itemList]="iconListService.getHomeGuideList()"/>
            <h2 class="mt-4">Why Angular Toolbox?</h2>
            <p>
                Learn more about the Angular Toolbox goal and philosophy:
                <br>
                <span class="icon-item mt-2" title="Angular Toolbox Principles">Angular Toolbox Principles</span>
            </p>
        </div>
    </div>
    <div class="mb-5">
        <h2>About this Application</h2>
        <p>
            The Angular Toolbox Demo is a serverless application built on top of the <em class="lib-name">Angular Toolbox</em> library.
        </p>
        <p>
            To deploy the application locally, <a href="#git-section" anchorLink>clone the GIT project</a>
            on your computer and run the following commands from the project folder:
        </p>
        <code-viewport lang="bash">$npm install
$npm start</code-viewport>
    </div>
    <hr class="mb-5">
    <git-section id="git-section"/>
</main>