<!--
 * LICENSE
 * Copyright Pascal ECHEMANN. All Rights Reserved.
 *
 * Use of this source code is governed by an MIT-style license that can be
 * found in the LICENSE file at https://pascalechemann.com/angular-toolbox/resources/license
-->
 
<demo [title]="title" [presentation]="presentation" [srcCode]="srcCode" [documentation]="documentation">
    <p class="fs-5 mb-4">
        The following sample app shows how to implement the ATX navbar component with some Bootstrap styles:
    </p>
    <div class="row">
            <atx-navbar class="border bg-light p-2 rounded">
                <a brand href="javascript:void" class="h2">Brand</a>
                <li>
                    <a href="javascript:void" class="active">Home</a>
                </li>
                <li>
                    <a href="javascript:void">News</a>
                </li>
                <li>
                    <a href="javascript:void">About</a>
                </li>
                <li>
                    <a href="javascript:void">Contact</a>
                </li>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" icon>
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </atx-navbar>
    </div>
</demo>
